*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
}



.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*//////////////////////////  CHATS LIST left   /////////////////////////////*/
.sidebar-chats-container{
    width: calc(100% / 3);
    height: 100%;
}

.admin-profile{
    height: 50px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}

.profile-container img{
    height: 45px;
    border-radius: 50%;
    margin: 0 5px 0 10px;
}

.profile-action > *{
    margin-left: 20px;
    color: #b1b1b1;
    font-size: 20px;
}

.profile-action:last-child{
    margin-right: 20px;
    color: #b1b1b1;
}

.notifications{
    height: 75px;
    background-color: rgb(142, 218, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bell-container{
    background-color: white;
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 10px 0 20px;
}
.bell-container i{
    font-size: 20px;
    color: rgb(142, 218, 252);
}

.notification-action>span{
    display: block;
}
.notification-action span:first-child{
    font-weight: 600;
}
.notification-action span:last-child{
    text-decoration: underline;
    color: rgb(98, 98, 98);
    font-size: 15px;
}


.search-bar{
    height: 40px;
    background-color: rgb(250, 250, 250);
    display: flex;
    padding: 5px;
    width: 100%;
}

.search-bar button{
    border-right: 0;
}


.search-icon-container{
    width: 10%;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
}

.search{
    width: 90%;
}

.search input{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 10px;
    font-weight: 500;
}

.search-icon-container i{
    color: #b1b1b1;
}

.chats-list{
    height: calc(100vh - 165px);
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

/*//////////////////////  CHAT right //////////////////////////////////  */

.chat-container{
    width: calc((100% / 3)*2);
    height: 100%;
    border-left: 1px solid #d5d5d5;
}

.chat-user{
    height: 70px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}

.chat-list-img-container{
    display: flex;
}

.chat{
    height: calc(100vh - 110px);
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding: 50px 100px;
}

.message-container::after{
    content: "";
    display: table;
    clear: both;
}

.send-bar{
    height: 60px;
    background-color: rgb(243, 238, 234);
    display: flex;
    padding: 10px 0;
}

.chats-list ol li{
    height: 70px;
    display: flex;
}

.chat-list-img{
    height: 70px;
    padding: 10px;
}

.chat-list-img img{
    height: 50px;
    border-radius: 50%;
}

.chat-list-user h1{
    font-size: 18px;
    font-weight: 500;
}
.chat-list-user span{
    font-size: 15px;
    color: #b1b1b1;
}

.chat-list-user{
    padding: 10px 0 0 5px;
}

.message-container{
    width: 100%;
    margin-bottom: 15px;
}

.message{
    width: 250px;
    min-height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 12px;
}

.message-time-container{
    width: 100%;
    height: 10px;
    position: relative;
    height: 15px;
}

.message-time{
    position: absolute;
    right: 0;
    font-size: 10px;
    color: #979797;
    font-weight: 500;
}

.message-text {
    font-size: 15px;
}

.send{
    background-color: #d5f9ba;
    float: right;
}


.chat-user-top{
    height: 50px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}

.chat-list-img-top{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.chat-list-img-top img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chat-list-user h1{
    font-size: 18px;
    font-weight: 500;
}
.chat-list-user span{
    font-size: 15px;
    color: #b1b1b1;
}

.chat-list-user-top{
    padding: 0;
}

.emoji{
    width: calc(100%/10);
}

.send-mex{
    width: calc(100%/10 *8);
}

.send-mex input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-weight: 500;
}

.vocal-audio{
    width: calc(100%/10);
}

.emoji i, .vocal-audio i{
    font-size: 20px;
    color: rgb(107, 115, 118);
}


